@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Cardinal Fruit";
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 0.9;

  background-color: black;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: none;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: gray;
}

body {
  margin: 0;
  width: 100vw;
  place-items: center;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F0EAD6;
  }
  a{
    color:black;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes load {
  from {
    filter: opacity(0);
    z-index: -1;
  }

  to {
    filter: opacity(1);
    z-index: 1;
  }
}

@keyframes unload {
  from {
    filter: opacity(100%);

    z-index: 1;
  }

  to {
    filter: opacity(0);
    z-index: -1;
  }
}

@keyframes loadTitle{
  from {
    filter: opacity(0);
    z-index: -1;
    margin-left: 100vw;
  }

  to {
    margin-left: 0vw;
    filter: opacity(1);
    z-index: 1;
  }
}